body{
    color: #000000;
    padding: 0px;
    overflow: hidden;
    
}

  
#logo{
    position: absolute;
    height: 10rem;
    max-height: 10rem;
    width: 10rem;
    max-width: 10rem;
    left: 60px;
    top: -10px;

}
.navbar{
    margin: 0;
    padding: 0;
    background: url(../img/P3000\ blue_page-0001\ \(1\).jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; 
}
#home-hero{
    background: url(../img/P3000\ blue_page-0001\ \(1\).jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; 
    height: 16rem;
}

.hero-head{
    padding: 0rem 3rem;
    max-height: 2rem;
    margin-bottom: 4rem;
    
}
.hero-body__container{
    bottom: 2rem;
    text-align: center;
}
.home-hero__title{
    margin-top: 3rem;
    font-size: 2rem;
    max-width: 400vw;
    color: rgb(0, 122, 199);
}
.title a {
    color: #ffffff;
    text-underline-offset: 8px;
}
.contact{
    margin-top: 2rem;
    height: fit-content;
    text-align: center;
    padding: 2rem;
    border-radius: 20px;
    
}
.contact h2 {
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}

.fa-phone{
    margin: 1rem;
    color: rgb(0, 122, 199);
}
.fa-envelope {
    margin: 1rem;
    color: rgb(0, 122, 199);
}
.fa-location-dot {
    margin: 1rem;
    color: rgb(0, 122, 199);
}

.horaire {
    margin: auto;
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgb(0, 122, 199);
}
.horaire h2 {
    font-size: x-large ;
    font-weight: 500;
    color:rgb(255, 254, 254) ;
}
.horaire h3 {
    padding: 0.2rem;
    color: rgb(255, 255, 255);
}
.fa-clock {
    padding: 1rem;
    color: rgb(255, 255, 255);
}
#footer {
    margin-top: 0rem;
    margin-bottom: 0px;
    position: relative;
    height: fit-content;
    background-color:#282828;
    color: #ffffff;
   
}
.renseignement h3{
   padding-left: 1.5rem;
   padding-bottom: 1rem;
   font-size: larger;
   font-weight: bold;
}

.liensutiles h3{
   padding-left: 0.5rem;
   padding-bottom: 1rem;
   font-size: larger;
   font-weight: bold;
   position: relative;

}
#footer p{
    font-size: small;
    padding: 0.5rem 2rem;
}
#footer a{
    font-size: small;
    padding: 0.5rem 0.5rem;
}
#footer i {
    padding: 0.5rem 0rem 2rem 1rem;
}
.fa-brands{
    color: #ffffff;
}
@media (min-width: 769px){
    .contact{
        margin-top: 2rem;
        height: fit-content;
        text-align: center;
        padding: 5rem;
        border-radius: 20px;
        
    }
    .contact h2 {
        font-size: x-large;
        font-weight: 600;
        margin-bottom: 2rem;
        text-align: center;
    }
    .horaire {
        margin: 2.98rem 2rem;
        height: fit-content;
        width: fit-content;
        text-align: center;
        padding: 2rem;
        border-radius: 20px;
        background-color: rgb(33, 120, 173);
    }
}
@media (min-width: 1880px) {
    
    .home-hero__title{
        margin-top: 0rem;
        font-size: 2rem;
        max-width: 400vw;
    }
}